APP_NAME=NexGenLabs
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nexgenlabs_dashboard
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

FILESYSTEM_DISK=public
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_FROM_ADDRESS=noreply@nexgenlabs.com
MAIL_FROM_NAME=NexGenLabs

SANCTUM_STATEFUL_DOMAINS=localhost:3000
